/*************************
* Button Styles 
*************************/
.Button {
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 24px;
  text-align: center;
  height: 50px;
  transition: all 0.2s ease;
  width: 300px;

  &.Primary {
    color: white;
    background-color: var(--brand-primary);

    &.Loading {
      background-color: darken(#1bbc9b, 5%);
      cursor: wait;
      & span {
        margin-right: 15px;
      }
    }
    &.Disabled {
      background-color: var(--light-3);
      cursor: not-allowed;
    }
    &:active {
      color: white;
      transform: scale(0.9);
      background-color: darken(#1bbc9b, 5%);
      box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    }
  }

  &.Secondary {
    color: var(--brand-primary);
    background-color: white;
    border: 1px solid var(--brand-primary);
    max-width: 350px;
    margin: 10px 0;

    &.Loading {
      border: 1px solid var(--light-2);
      color: var(--light-2);
      cursor: wait;
      & span {
        margin-right: 15px;
      }
    }
    &.Disabled {
      border: 1px solid var(--light-2);
      color: var(--light-2);
      cursor: not-allowed;
    }
    &:active {
      transform: scale(0.9);
      box-shadow: 0 2px 25px rgba(68, 8, 39, 0.144);
    }
  }
}
