.re-input {
  outline: 0;
  border: 0;
  background: #e5e5e5;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: left;
  height: 40px;
  width: calc(100% - 15px);
  max-width: 500px;
  margin: 10px 0px;
  font-size: 24px;
  padding-left: 15px;

  &::placeholder {
    font-style: italic;
    text-align: left;
  }

  &--error {
    border: 1px solid #fc3769;
  }
}
.re-input-search {
  outline: 0;
  border: 0;
  background: #e5e5e5;
  border-radius: 10px;
  text-align: left;
  height: 50px;
  width: calc(100% - 15px);
  max-width: 500px;
  margin: 10px 0px;
  font-size: 24px;
  padding-left: 10px;

  &::placeholder {
    font-style: italic;
    text-align: center;
  }
}
.re-input-card {
  margin-top: -15px;
  padding-left: 20px;
}
.re-input-card-code {
  outline: 0;
  border: 0;
  background: #e5e5e5;
  border-radius: 10px;
  text-align: left;
  height: 30px;
  max-width: 300px;
  padding-left: 10px;

  &::placeholder {
    font-style: italic;
    text-align: left;
  }
}

.re-input-label {
  font-size: 18px;
}

.re-input-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.re-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  margin: 10px 0px;
}

.re-input-container-search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-error-text {
  color: #fc3769;
  font-size: 14px;
}

.input-warning-text {
  color: #e5bd37;
  font-size: 14px;
}

.checkbox,
.checkbox-checked {
  height: 35px;
  width: 35px;
  border-radius: 5px;
}

.checkbox {
  background-color: #e5e5e5;
}
