.share {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.share-body {
  flex-grow: 1;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.share-list,
.qr-code,
.share-camera {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 5px;
}

.share-list-header,
.qr-code-header,
.share-camera-header {
  font-size: 18px;
  text-align: center;
}

.share-list {
  height: 100%;
  overflow: auto;
  justify-content: flex-start;
}

.share-list-footer {
  position: fixed;
  bottom: 0;
  padding: 15px 0;
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.share-list-input-container {
  width: 90%;
  max-width: 500px;
  position: relative;
}

.share-list-container {
  width: 100vw;
  max-width: 500px;
}

.share-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  margin-left: 25px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.share-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #1bbc9b;
  margin-right: 15px;
}

.share-list-close {
  margin-right: 15px;
}

.share-attributes {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.share-attributes-header,
.share-attributes-expnd-header {
  flex: 0 0 65px;
  display: flex;
  max-width: 800px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.share-attributes-expnd-header {
  justify-content: center;
  & span {
    color: #1bbc9b;
    font-size: 36px;
  }

  & p {
    font-size: 18px;
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
  }

  & svg {
    position: fixed;
    top: 25px;
    right: 25px;
  }
}
.share-attributes-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  flex: 1 1;
  padding: 2em 0;
}
.share-attributes-footer {
  flex: 0 0 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.share-attributes-icons {
  display: flex;
  align-items: center;
  & div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1bbc9b;
    margin: 0 8px;
  }
}

.share-attributes-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & span {
    color: #1bbc9b;
    font-size: 24px;
  }

  & p {
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
  }
}

.qr-code-container {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  width: 100%;
  height: 400px;
}

.qr-code-pin {
  margin-top: -35px;
  margin-bottom: 25px;
  font-size: 64px;
}

.share-dropdown {
  position: absolute;
  top: 60px;
  border-radius: 10px;
  background-color: white;
  width: calc(100% - 20px);
  height: 50vh;
  box-shadow: 1px 1px 15px #0000001a;
  padding: 10px;
  & svg {
    margin: 0 10px 0 2.5px;
  }
}

.dropdown-query {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #e5e5e5;
  border-radius: 10px;
  padding: 2.5px;
  font-size: 18px;
  margin-bottom: 15px;
}

.dropdown-query-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - 60px);
}
