.FAB {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.2s ease all;

  &:active {
    transform: scale(0.9);
    box-shadow: none;
  }
}

.ExpandableFABContainer {
  position: sticky;
  bottom: 0px;
  left: calc(100vw - 95px);
  width: max-content;
}
