/*************************
* Profile Styles 
*************************/
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0 0 0;
}
.re-profile-list {
  position: relative;
  height: 100%;
  overflow: auto;
}
.profile-name {
  text-align: center;
}
.profile-stats {
  height: 100px;
  width: 100%;
  max-width: 575px;
}
.profile-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stat {
  font-size: 36px;
  color: #1bbc9b;
}
.stat-text {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
}
.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: relative;
  background-color: #e5e5e5;
}
.pic {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.pic-upload-icon {
  position: absolute;
  top: -5px;
  right: 10px;
}
.avatar-upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.avatar-upload-header {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}
.upload-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}
.upload-option-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1bbc9b;
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

/*************************
* Attribute Form Styles 
*************************/
.add-attribute,
.edit-attribute,
.verify-attribute {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-attribute-body,
.edit-attribute-body,
.verify-attribute-body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  flex-grow: 1;
  overflow-y: scroll;
  width: 100%;
}
.edit-attribute-form,
.add-attribute-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  width: 100%;
  max-width: 575px;
}
.edit-attribute-type {
  color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
}
