.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: relative;
  background-color: #e5e5e5;
}

.pic {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.pic-upload-icon {
  position: absolute;
  top: -5px;
  right: 10px;
}

.user,
.add-attribute,
.edit-attribute,
.verify-attribute {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.add-attribute,
.edit-attribute,
.verify-attribute {
  align-items: center;
}

.add-attribute-body,
.edit-attribute-body,
.verify-attribute-body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  flex-grow: 1;
  overflow-y: scroll;
  width: 100%;
}

.user-body {
  flex-grow: 1;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
}

.profile-name {
  text-align: center;
}

.profile-stats {
  height: 100px;
  width: 100%;
  max-width: 575px;
}

.profile-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat {
  font-size: 36px;
  color: #1bbc9b;
}

.stat-text {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.re-update {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e5e5e5;
  margin-left: 25px;
  padding: 15px 0;
  color: rgba(0, 0, 0, 0.5);
  max-width: 500px;
}

.update-text-name {
  font-size: 24px;
  color: #32393d;
}

.update-text-item {
  color: #32393d;
  font-size: 18px;
}

.update-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  margin-top: 25px;
}

.create-attribute-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 15px 0;
}

.edit-attribute-form,
.add-attribute-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  width: 100%;
  max-width: 575px;
}

.edit-attribute-type {
  color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
}

.avatar-upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.avatar-upload-header {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}
.upload-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}
.upload-option-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1bbc9b;
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.re-user-ranks {
  padding: 20px;
}
.rank-header {
  font-size: 36px;
  margin-top: 0;
  text-align: center;
  margin: 0 30px;
  overflow: auto;
}
.total-share-text {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  margin: 10px 0;
}
.rank-status {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 25px 0;
}
.rank-info {
  flex-grow: 2;
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}
.rank-info-text {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.re-user-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}
.settings-group {
  margin: 10px 0;
  width: 100%;
  max-width: 575px;
}
.settings-header {
  color: #1bbc9b;
  font-size: 24px;
}
.setting {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 1px 1px 15px #0000001a;
  padding: 15px 10px;
  margin: 10px 0;

  &.red {
    background-color: hsl(348, 100%, 61%);
    color: white;
  }
}
.setting-switch {
  width: 40px;
  height: 20px;
  background-color: #e5e5e5;
  border-radius: 50px;

  &--active {
    background-color: rgba(27, 188, 156, 0.3);
    & .setting-switch-inner {
      background-color: #1bbc9b;
    }
  }
}
.setting-switch-inner {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 20px;
  height: 20px;
}
