.swipe-nav-item-container {
  padding-top: 125px;
  padding-bottom: 15px;
  max-height: calc(100vh - 140px);
  min-height: calc(100vh - 140px);
  overflow: auto;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic {
  height: 150px;
  width: 150px;
  background-position: center;
  background-size: cover;
  background-color: #e5e5e5;
  border-radius: 50%;
  position: relative;
}

.pic-upload-icon {
  position: absolute;
  top: -5px;
  right: 10px;
}

.user-header {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 10;
  background-color: white;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.user-profile-name {
  text-align: center;
}

.profile-stats {
  height: 100px;
  width: 100%;
  max-width: 575px;
}

.profile-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat {
  font-size: 36px;
  color: #1bbc9b;
}

.stat-text {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.re-update {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e5e5e5;
  margin-left: 25px;
  padding: 15px 0;
  color: rgba(0, 0, 0, 0.5);
  max-width: 500px;
}

.update-text-name {
  font-size: 24px;
  color: #32393d;
}

.update-text-item {
  color: #32393d;
  font-size: 18px;
}

.update-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  margin-top: 25px;
}

.profile-add {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: white;
  border-radius: 50%;
  & svg {
    cursor: pointer;
    filter: drop-shadow(1px 1px 5px #00000005);
  }
  & svg:hover {
    width: 3.5rem;
    height: 3.5rem;
  }
}
