@import '../../config.scss';

.Dropdown {
  position: fixed;
  width: 220px;
  background-color: white;
  border-radius: 10px;
  box-shadow: $card-shadow;
  border: 1px solid rgba(0, 0, 0, 0.04);
  z-index: 10;
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

  & li {
    padding: 8px;
    transition: 0.2s ease all;

    &:active {
      color: white;
      background-color: $brand;
      & svg {
        fill: white;
      }
    }
  }
  & li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  & li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media (min-width: 810px) {
  .Dropdown:hover {
    color: white;
    background-color: $brand;
    & svg {
      fill: white;
    }
  }
}

.Input {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  text-align: left;
  margin: 16px 0px;
  height: 50px;
  border: 1px solid #c8ccd4;
  border-radius: 5px;
  transition: 0.2s all ease;

  &:focus-within {
    border: 1px solid #1bbc9b;
    .Label {
      transform: translateY(-10px) scale(0.8);
    }
  }

  &.Filled {
    .Label {
      transform: translateY(-10px) scale(0.8);
    }
  }
  &.Error {
    border: 1px solid #ff3860;
  }
  &.Warning {
    border: 1px solid #f6cd2b;
  }
}

.Field {
  position: absolute;
  height: 38px;
  background: none;
  width: calc(100% - 15px);
  padding-top: 12px;
  top: 0;
  left: 15px;
  outline: 0;
  border: 0;
  font-size: 16px;
}

.Label {
  position: absolute;
  top: 16px;
  left: 15px;
  font-size: 16px;
  color: #5a667f;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;

  &.Phone {
    transform: translateY(-10px) scale(0.8);
    left: 50px;
  }
}
