@-webkit-keyframes autofill {
  to {
    color: #6c7dd5;
    background: transparent;
  }
}
input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.re-input,
.re-input-search {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  text-align: left;
  margin: 10px 0px;
  height: 54px;
  border: 1px solid #c8ccd4;
  border-radius: 5px;
  transition: 0.2s all ease;

  &:focus-within {
    border: 1px solid #1bbc9b;
    .re-input-label {
      transform: translateY(-10px) scale(0.8);
    }
  }

  &--filled {
    .re-input-label {
      transform: translateY(-10px) scale(0.8);
    }
  }
  &--error {
    border: 1px solid #ff3860;
  }
  &--warning {
    border: 1px solid #f6cd2b;
  }
}

.re-input-search {
  margin-left: 15px;
  width: calc(100% - 15px);
  & svg {
    position: absolute;
    left: 5px;
    top: 7px;
  }

  & .re-input-label {
    left: 50px;
  }

  & .re-field {
    left: 50px;
    width: calc(100% - 50px);
  }
}

.re-input select {
  height: 52px;
  left: 10px;
}

.re-field {
  position: absolute;
  height: 40px;
  background: none;
  width: calc(100% - 15px);
  padding-top: 12px;
  top: 0;
  left: 15px;
  outline: 0;
  border: 0;
  font-size: 16px;
}

.re-text-area {
  z-index: 5;
  outline: 0;
  border: 0;
  width: calc(100% - 20px);
  font-size: 16px;
  background: transparent;
  border: 1px solid #c8ccd4;
  border-radius: 5px;
  transition: 0.2s all ease;
  padding: 10px 10px;

  &:focus {
    border: 1px solid #1bbc9b;
  }
}

.re-input-label {
  position: absolute;
  top: 16px;
  left: 15px;
  font-size: 16px;
  color: #5a667f;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;

  &--phone {
    transform: translateY(-10px) scale(0.8);
    left: 50px;
  }
}

.input-row {
  width: 100%;
  display: flex;
}

.input-code-dash {
  font-size: 3em;
  font-weight: 300;
}

.re-input-icon {
  position: absolute;
  top: 50px;
  right: 5px;
}

.re-input-container-search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-error-text {
  position: absolute;
  top: 54px;
  color: #fc3769;
  font-size: 14px;
}

.input-warning-text {
  color: #e5bd37;
  font-size: 14px;
}

.react-tel-input input[type='tel'] {
  outline: 0 !important;
  border: 0 !important;
  background: none !important;
  border-radius: 10px !important;
  text-align: left;
  height: 52px !important;
  width: 100% !important;
  padding-top: 12px;
  font-size: 16px !important;

  &::placeholder {
    font-style: italic;
    text-align: left;
  }

  &--error {
    border: 1px solid #fc3769;
  }
}
.flag-dropdown {
  border: none !important;
  background-color: #c8ccd4 !important;
}

.checkbox {
  height: 35px;
  width: 35px;
  border-radius: 5px;
  border: 1px solid #1bbc9b;
}

.checkbox.checked {
  background-color: #1bbc9b;
}

// Verification Code Inputs
$fontSize: 60px;

.re-code-input-container {
  margin: 25px 0;
  position: relative;

  & svg {
    position: absolute;
    top: 45%;
    right: 41%;
    font-size: $fontSize;
  }
}

.re-code-inputs {
  font-family: 'Open Sans', sans-serif;
  margin-top: 25px;
  & input {
    width: #{$fontSize/(3/2) + 10};
    height: $fontSize;
    line-height: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;
    color: #32393d;
    font-size: $fontSize;
    word-spacing: 0px;
    overflow: hidden;
    text-align: center;
  }

  & input::placeholder {
    color: #c4c4c4;
  }

  & input:nth-child(3) {
    margin-right: 25px;
  }
}

.code-loading,
.code-verified {
  font-size: $fontSize;
  color: rgba(0, 0, 0, 0.5);
  background-color: #e5e5e5;

  & div {
    width: 50px;
  }

  & div:nth-child(3) {
    margin-right: 25px;
  }

  & .lds-ripple {
    position: absolute;
    top: 40%;
  }

  & svg {
    position: absolute;
    top: 35%;
  }
}

.re-switch {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 40px;
  height: 20px;
  background-color: #e5e5e5;
  border-radius: 50px;

  &--active {
    justify-content: flex-end;
    background-color: rgba(27, 188, 156, 0.3);
    & .re-switch-inner {
      background-color: #1bbc9b;
    }
  }
  transition: 0.3s ease all;
}
.re-switch-inner {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 20px;
  height: 20px;
}

.re-switch-alt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85px;
  height: 30px;
  border: 1px solid #e5e5e5;
  border-radius: 50px;
  cursor: pointer;

  &--active {
    & .re-switch-on {
      color: #1bbc9b;
      border: 2px solid #1bbc9b;
      padding: 4px;
    }
    & .re-switch-off {
      color: #e5e5e5;
      border-color: transparent;
    }
  }
  transition: 0.3s ease all;
}
.re-switch-on,
.re-switch-off {
  text-align: center;
  border-radius: 50px;
  height: 20px;
  width: 35px;
  padding: 5px;
}
.re-switch-on {
  color: #e5e5e5;
}
.re-switch-off {
  color: #c4c4c4;
  border: 2px solid #c4c4c4;
}
