.modal-content {
  height: 65%;
}

.modal-children {
  max-width: 600px;
  min-height: 100%;
  background-color: white;
  padding: 10px;
}

.create-attribute-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
