#modal-root {
  position: fixed;
  top: 0;
  z-index: 999;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  width: 100vw;
  background-color: #e6e6e699;
}

.modal-header {
  font-size: 36px;
  margin-top: 0;
  text-align: center;
  margin: 15px 30px 0 30px;
  overflow: auto;
}

.modal-content {
  position: relative;
  height: 75%;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  animation: slideUp 0.3s ease;

  &--full {
    height: 100%;
    max-height: 100%;
    background-color: white;
    border-radius: 0;
  }
}
.modal-children {
  overflow: auto;
  height: 100%;
  width: 100%;
}

.modal-close {
  animation: slideDown 0.3s ease;
}

.modal .alert-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.modal-exit-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  z-index: 10;
}

@keyframes slideDown {
  from {
    height: 75%;
  }

  to {
    height: 0px;
  }
}

@keyframes slideUp {
  from {
    height: 0px;
  }

  to {
    height: 75%;
  }
}
