.re-user-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}

.re-user-ranks {
  padding: 20px;
}
.rank-header {
  font-size: 36px;
  margin-top: 0;
  text-align: center;
  margin: 0 30px;
  overflow: auto;
}
.total-share-text {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  margin: 10px 0;
}
.rank-status {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 25px 0;
}
.rank-info {
  flex-grow: 2;
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}
.rank-info-text {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
