.btn {
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 24px;
  text-align: center;
  height: 50px;
  transition: 0.3s ease all;

  &--primary {
    color: white;
    background-color: #1bbc9b;
    max-width: 350px;
  }

  &--secondary {
    color: white;
    background-color: #c6c8c8;
    max-width: 350px;
  }

  &--small {
    color: white;
    background-color: #1bbc9b;
    height: 35px;
    font-size: 14px;
  }

  &--big {
    color: white;
    background-color: #1bbc9b;
    height: 70px;
  }

  &:hover {
    background-color: #53d4b9;
    box-shadow: 0 1px 5px #0000004f;
  }
}
