$button-bg: #1bbc9b;
$button-bg-secondary: #c6c8c8;
$button-bg-light: #77d3c0;

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 24px;
  text-align: center;
  height: 50px;
  transition: all 0.2s ease;

  &--primary {
    color: white;
    background-color: $button-bg;
    max-width: 350px;
  }

  &--secondary {
    color: black;
    background-color: $button-bg-secondary;
    max-width: 350px;
  }

  &--small {
    color: white;
    background-color: $button-bg;
    height: 35px;
    font-size: 14px;
  }

  &--big {
    color: white;
    background-color: $button-bg;
    height: 70px;
  }

  &--loading {
    background-color: $button-bg-light;
    & span {
      margin-right: 15px;
    }
  }

  &--disabled {
    background-color: $button-bg-light;
  }

  &:active {
    transform: scale(0.9);
    background-color: darken($button-bg, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }

  .re-ring {
    margin-left: 10px;
  }
}

// TODO: Get this to work without using sticky
.fab {
  position: sticky;
  bottom: 15px;
  left: 100vw;
  margin-right: 15px;
  //right: 15px;
  width: 65px;
  height: 65px;
  background-color: #1bbc9b;
  border-radius: 50%;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  &:hover {
    background-color: #77d3c0;
  }
  transition: 0.2s ease all;
}

.fab,
.fab-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab-menu {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #1bbc9b;
}

.re-ring {
  width: 1em;
  height: 1em;
  position: relative;
  color: inherit;
  display: inline-block;
  &:after {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ' ';
    display: inline-block;
    background: center center no-repeat;
    background-size: cover;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.15em;
    -webkit-background-clip: padding-box;
    border-color: currentColor currentColor currentColor transparent;
    box-sizing: border-box;
  }
}

@keyframes re-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes re-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.re-spin {
  -webkit-animation: re-spin 1s infinite;
  animation: re-spin 1s infinite;
}
