.settings-group {
  margin: 10px 0;
  width: 100%;
  max-width: 575px;
}
.settings-header {
  color: #1bbc9b;
  font-size: 24px;
}
.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 15px #0000001a;
  padding: 15px 10px;
  margin: 10px 0;

  &.red {
    border: 1px solid hsl(348, 100%, 61%);
    color: hsl(348, 100%, 61%);
  }
}
