html {
  --brand-primary: #1bbc9b;
  --text: #32393d;
  --text-secondary: #0000007e;
  --text-light: #8a8a8a;
  --info: #6c7dd5;
  --success: #1bbc9b;
  --warning: #ffdd57;
  --danger: #ff3860;

  --neutral-1: #6c7dd5;
  --neutral-2: grey;
  --neutral-3: grey;

  --light-1: #f2f2f2;
  --light-2: #e5e5e5;
  --light-3: #c8ccd4;
  --light-4: #bdbdbd;

  --dark-1: #363636;
  --dark-2: #414a4c;
  --dark-3: #4f4f4f;
  --dark-4: #4f5b66;

  --black-50: #0000007e;

  /* 
  * Breakpoints 
  */
  --mobile-max-px: 575px;

  /* 
  * Shadows
  */
  --card-shadow: 0px 0px 8px rgba(51, 51, 51, 0.25);
  --card-shadow-3: 0px 15px 30px rgba(0, 0, 0, 0.15);
  --card-shadow-2: 1px 1px 15px #0000001a;
}
