.card {
  width: 90%;
  max-width: 575px;
  border-radius: 10px;
  box-shadow: 1px 1px 15px #0000001a;
}

.card-header {
  color: #1bbc9b;
  font-size: 24px;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.card-attribute {
  margin: 0;
}

.card-attribute-text {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  cursor: pointer;
}

.card-attribute-text-name {
  color: rgba(0, 0, 0, 0.5);
}

.card-attribute-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-input {
  margin-bottom: 12px;
}
