.Ring {
  width: 1em;
  height: 1em;
  position: relative;
  color: inherit;
  display: inline-block;
  &:after {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ' ';
    display: inline-block;
    background: center center no-repeat;
    background-size: cover;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.15em;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    border-color: currentColor currentColor currentColor transparent;
    box-sizing: border-box;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.Spin {
  -webkit-animation: spin 1s infinite;
  animation: spin 1s infinite;
}

@keyframes opacity-loading {
  from {
    opacity: 1;
  }
  25% {
    opacity: 50%;
  }
  50% {
    opacity: 40%;
  }
  to {
    opacity: 1;
  }
}
.Skeleton {
  background-color: var(--light-3);
  animation: opacity-loading 1.5s infinite;
}
