@import '../../config.scss';

.Card {
  width: 90%;
  margin: 16px auto;
  max-width: 575px;
  border-radius: 10px;
  box-shadow: $card-shadow-2;

  & .Attribute:first-child {
    margin-top: 0;
  }
  & .Attribute:last-child {
    margin-bottom: 0;
  }

  &.Pending {
    background-color: rgba(108, 125, 213, 0.1);
    border: 1px solid $neutral-1;
  }
}

.CardHeader {
  border-bottom: 1px solid #e5e5e5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 16px;
  &.NoBorder {
    border-bottom: none;
  }

  h1 {
    color: #1bbc9b;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
  }
}

.CardBody {
  padding: 16px;
}

.Attribute {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px 0;

  &.Pending {
    background-color: rgba(108, 125, 213, 0.1);
    border: 1px solid $neutral-1;
    border-radius: 15px;
  }

  & .Left {
    flex: 0 0 50px;
  }
  & .Middle {
    padding-left: 8px;
    flex: 1 1;
    max-width: calc(100% - 139px);
  }
  & .Right {
    flex: 0 0 50px;
  }
}
.Name {
  color: $dark-3;
}
.Value {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
