.card,
.type-card {
  width: 90%;
  max-width: 575px;
  border-radius: 10px;
  box-shadow: 1px 1px 15px #0000001a;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

.attribute-preview-card {
  margin-top: 50px;
  margin-bottom: 2px;
}

.card-header {
  color: #1bbc9b;
  font-size: 24px;
  border-bottom: 1px solid #e5e5e5;
  // background-color: #efeeee;
  // border-top-left-radius: 10px;
  // border-top-right-radius: 10px;
  padding: 10px 20px;
  margin: 0 0 10px 0;
  font-weight: normal;
}

.card-attribute {
  margin: 0;
}

.card-attribute-text {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  cursor: pointer;
  word-break: break-word;
}

.card-attribute-text-name {
  color: rgba(0, 0, 0, 0.5);
}

.card-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: fit-content;
}

.card-verify {
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  color: white;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapse-card {
  --pixels-from-top: 0;
  background-color: white;
  animation: collapseCard 0.5s ease-out forwards;
  box-shadow: none;
}
.expand-card {
  --pixels-from-pos: 0;
  animation: expandCard 0.5s ease-out forwards;
  background-color: white;
}

.top-card {
  z-index: 10;
  box-shadow: 1px 1px 15px #0000001a;
  transform-style: preserve-3d;
}

.green-border {
  border: 3px solid #1bbc9b;
  color: #1bbc9b;
}
.red-border {
  border: 3px solid hsl(348, 69%, 63%);
  color: hsl(348, 69%, 63%);
}
.yellow-border {
  border: 3px solid hsl(48, 78%, 49%);
  color: hsl(48, 78%, 49%);
}

@keyframes collapseCard {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(var(--pixels-from-top));
  }
}

@keyframes expandCard {
  from {
    transform: translateY(var(--pixels-from-pos));
  }
  to {
    transform: translateY(0);
  }
}
