@import '../../config.scss';

.Card {
  width: 90%;
  margin-top: 24px;
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 575px;
  border-radius: 10px;
  box-shadow: $card-shadow-2;

  & .Attribute:first-child {
    margin-top: 0;
  }
  & .Attribute:last-child {
    margin-bottom: 0;
  }
}

.CardHeader {
  color: #1bbc9b;
  font-size: 24px;
  font-weight: normal;
  border-bottom: 1px solid #e5e5e5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 16px;
  &.NoBorder {
    border-bottom: none;
  }
}

.CardBody {
  padding: 16px;
}

.Attribute {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px 0;

  & .Left {
    flex: 0 0 50px;
  }
  & .Middle {
    padding-left: 8px;
    flex: 1 1;
    max-width: calc(100% - 139px);
  }
  & .Right {
    flex: 0 0 50px;
  }
}
.Name {
  color: $dark-3;
}
.Value {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
