.fab {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100px;
  height: 100px;
  background-color: transparent;
  & svg {
    filter: drop-shadow(0px 0px 5px #00000005);
  }
}

.fab,
.fab-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab-menu {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #1bbc9b;
}
