.contact-list {
  position: relative;
  padding-top: 15px;
}

.profile-tags {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-top: -20px;
  margin-bottom: 25px;
}

.profile-tag-modal {
  margin-top: 25px;
}

.re-contact-shares {
  display: flex;
  flex-direction: column;
  align-items: center;
  & h3 {
    text-align: center;
    font-size: 24px;

    & > span {
      color: #1bbc9b;
      font-size: 28px;
    }
  }
}
