.contact-list {
  position: relative;
  padding-top: 15px;
}

.contact,
.char-avatar,
.contact-name {
  display: flex;
}

.contact.pending {
  background-color: rgba(108, 125, 213, 0.1);
  border-top: 1px solid #6c7dd5;
  border-bottom: 1px solid #6c7dd5;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-color: #e5e5e5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px 15px;
}

.contact-name {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.contact-group {
  opacity: 0.5;
}

.profile-tags {
  margin-top: -15px;
  margin-bottom: 25px;
}
