.Avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: relative;
  background-color: #e5e5e5;
  margin: auto;
}
.AvatarUploadIcon {
  position: absolute;
  top: -5px;
  right: 10px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
