.icon-left,
.icon-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-right {
  & svg {
    cursor: pointer;
  }
}

.swipe-nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #00000015;
}

.swipe-nav-active,
.swipe-nav-inactive {
  height: 10px;
  width: 100px;
  border-radius: 10px;
  margin: 10px 0;
}
.swipe-nav-active {
  background-color: #1bbc9b;
}

.swipe-nav-inactive {
  background-color: #e5e5e5;
}
