@import url('https://fonts.googleapis.com/css?family=Sanchez');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Global styles */

html {
  scroll-behavior: smooth;
}

body,
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sanchez', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 100%;
  height: 100vh;
}

.flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
