// Alert Styles
.Alert {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px;
  max-width: 575px;
  will-change: transform;
}

// Modal Styles
.ModalContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}
.ModalBackground {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e5e5e577;
  height: 100%;
  width: 100%;
}
.ModalContent {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  animation: modalSlideUp 0.3s ease;
  will-change: transform;
}
.ModalClosing {
  animation: modalSlideDown 0.3s ease forwards;
}
.ModalExit {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--brand-primary-15);
  border-radius: 50%;
  padding: 0.25em;
}

@keyframes modalSlideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes modalSlideDown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}
