.inputs {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;

  p {
    color: #32393d;
    font-size: 24px;
    font-style: italic;
    padding: 0px 5px;
    margin: 0;
    text-align: center;
  }
}

.attributes-form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
