.bar {
  width: 100%;
  height: 15px;
  background-color: #e5e5e5;
  border-radius: 25px;
}

.bar-percent {
  background-color: #1bbc9b;
  border-radius: 25px;
  height: 15px;
  transition: 0.5s ease all;
}

.drop-down {
  display: flex;
  position: absolute;
  top: 65px;
  z-index: 10;
  width: 185px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  padding: 5px 10px;
  box-shadow: 1px 1px 15px #0000001a;
  border-radius: 10px;
}

.drop-down-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0 5px 5px;
  width: 100%;
  &:hover {
    background-color: #e5e5e5;
    color: white;
  }
  border-radius: 10px;
}

.drop-down-icon {
  margin-right: 5px;
}

.notif {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notif-text {
  color: rgba(255, 255, 255, 0.85);
  margin-right: 10px;
}

.notif-text-2 {
  color: white;
}

.coming-soon {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.re-tags-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.re-pill,
.create-tag-input {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  width: fit-content;
  max-width: 100%;
  padding: 5px 25px;
  margin: 5px;
  background-color: #e5e5e5;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 18px;

  &.active {
    color: white;
    background-color: #1bbc9b;
  }
}

.create-tag-input {
  & input {
    color: white;
    width: 0px;
    min-width: 100px;
    font-size: 18px;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
  }
}
