/* 
 * Colors 
 */
$brand: #1bbc9b;
$text: #32393d;

$accent-1: grey;
$accent-2: grey;
$accent-3: grey;

$neutral-1: #6c7dd5;
$neutral-2: grey;
$neutral-3: grey;

$light-1: #e5e5e5;
$light-2: #c8ccd4;
$light-3: #c4c4c4;

$dark-1: #363636;
$dark-2: #414a4c;
$dark-3: #4f5b66;

$info: #6c7dd5;
$success: $brand;
$warning: grey;
$danger: #ff3860;

/* 
 * Breakpoints 
 */
$mobile-max-px: 575px;

/* 
 * Shadows
 */
$card-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
$card-shadow-2: 1px 1px 15px #0000001a;
