/* 
 * Colors 
 */
$brand: #1bbc9b;
$text: #32393d;

$accent-1: grey;
$accent-2: grey;
$accent-3: grey;

$neutral-1: #6c7dd5;
$neutral-2: grey;
$neutral-3: grey;

$light-1: #e5e5e5;
$light-2: #c8ccd4;
$light-3: #c4c4c4;

$dark-1: #363636;
$dark-2: #414a4c;
$dark-3: #4f5b66;

/* 
 * Breakpoints 
 */
$mobile-max-px: 575px;
