.AuthHeader {
  padding: 16px 0;
  flex: 0 0 150px;
  height: 150px;
  width: 100vw;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
