@import '../../config';

.AuthHeader {
  padding: 16px 0;
  flex: 0 0 150px;
  height: 125px;
  width: 100vw;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.AuthSubtitles {
  padding: 16px;
  text-align: center;
  width: 85%;

  p {
    color: $text;
    font-size: 24px;
    width: 100%;
  }
}

.LoginForm,
.CreateProfileForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 85%;
  max-width: $mobile-max-px;
}
.LoginHelpIcon {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
