@import '../../config';

.AuthHeader {
  padding: 16px 0;
  flex: 0 0 150px;
  height: 125px;
  width: 100vw;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.AuthSubtitles {
  padding: 16px;
  text-align: center;
  width: 85%;

  p {
    color: $text;
    font-size: 20px;
    width: 100%;
  }
}

.LoginForm,
.CreateProfileForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 85%;
  max-width: $mobile-max-px;
}
.LoginHelpIcon {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.CardOverride {
  margin: 0px auto 24px auto;
}
.CardHeaderOverride {
  padding: 16px 24px;
  & p {
    margin: 0px;
    margin-top: 8px;
  }
  & h1 {
    color: $dark-1;
  }
}
.CardBodyOverride {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  transition: 0.2s ease all;
}
.CardCaption {
  font-size: 20px;
  color: $brand;
  margin: 0;
  margin-top: 8px;
  cursor: pointer;
}
