.auth-header {
  background-color: #1bbc9b;
  height: 150px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100vw;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  h1 {
    font-size: 52px;
    font-weight: normal;
  }
  h2 {
    font-weight: normal;
  }
}

.help-icon {
  position: fixed;
  bottom: 2.5px;
  right: 2.5px;
}

.inputs {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;

  p {
    color: #32393d;
    font-size: 24px;
    padding: 0px 5px;
    margin: 0;
    text-align: center;
  }
}

.attributes-form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sign-up-link {
  margin-bottom: 15px;
  text-align: center;
  max-width: 50%;
}

.forgot-password-link {
  align-self: flex-end;
}

h2 {
  font-size: 36px;
  margin: 0px;
}

a {
  color: #1bbc9b;
  font-weight: bold;
}

.sign-up {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.re-verify {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
